
*{
    font-family: 'Muli';
    font-weight: 300;
    margin: 0;
    padding: 0;
  
  --Color1: #dce0da;
  --Color2: #4ba87d;
  --Color3: #618685;
  --Color4: #1f5673;
  --Color5: #25283d;

}



.header-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background: linear-gradient(180deg, var(--Color2)  , var(--Color1) 90%);
    color: white;
    text-transform: uppercase;
}


.nav-container {
    display: flex;
    text-decoration: none;
    list-style: none;
    font-size: 1rem;
    flex-wrap: wrap;
    align-content: flex-start;
}


.nav-container li{
  flex-grow: 1;
  background-color: var(--Color4);
  text-align: center;
  padding: 1.6rem;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.li5{
  flex-shrink: 3;
}

.nav-container li:hover{
  transition: 0.5s ease-in-out;
  background-color: var(--Color3);
}



.header-pri-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 600px;
}

.title-container {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 1rem;
}

.title-container img {
  width: 200px;
}

.button {
    border-radius: 4px;
    background-color: var(--Color2);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.1rem;  
    padding: 1.4rem;
    width: 200px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    margin-bottom: 50px;
    text-transform: uppercase;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s ease-in-out;
  }
  
  .button:hover{
    background-color: var(--Color4);
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    justify-content: center;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s ease-in-out;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

.estadistic-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 500px;

}

.stats{
    text-align: center;
  }


.stats img{
  width: 400px;
}

h3{
  font-size: 2rem;
  font-weight: 700;
}

h2{
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 2rem;
}

.quienes-container{
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   justify-content: center;
   background-color: var(--Color4);
   color: var(--Color1);
}

.quienes-texto{
   display: flex;
   justify-content: center;
   align-items: center;
}

.quienes-texto div {
  width: 600px; 
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 2rem;
}

.quienes-texto img {
  width: 450px;
  PADDING-BOTTOM: 2REM;

}


/* MEDIA QUERYS // RESPONSIVE ----------------------------------------------------- */
@media all and (max-width: 1200px){
  .quienes-texto{
    flex-direction: column;

  }
  .quienes-texto p{
    flex-direction: column;
    flex-basis: auto;
  }

}

@media all and (max-width: 900px){
  .nav-container{
    font-size: 0.8rem;
  }
  .nav-container li { 
    padding: 1rem;
  }
  .title-container{
    flex-direction: column;
    font-size: 0.8rem;
    text-align: center;
  }
  .header-pri-container{
    height: 400px;
  }
  
  .title-container img{
    width: 150px;
  }

  .button {
    font-size: 0.8rem;
    padding: 1rem;
    width: 150px;
  }

  .estadistic-container{
    height: 400px;
  }

  .stats{
    padding: 1rem;
  }
  .stats img{
    width: 300px;
  }
  

  
  .quienes-texto div{
    width: 600px;

  }

  h2{
    font-size: 1.5rem;
    padding: 1rem;
  }
  h3{
    font-size: 1rem;
  }

}

@media all and (max-width: 620px){
  .nav-container{
    font-size: 0.6rem;
  }
  .nav-container li { 
    padding: 0.6rem;
  }

  .title-container{
    flex-direction: column;
    font-size: 0.6rem;
    text-align: center;
  }
  .title-container img{
    width: 100px;
  }
  .header-pri-container{
    height: 300px;
  }
  .button {
    font-size: 0.6rem;
    padding: 0.8rem;
    width: 100px;
  }

  .stats{
    padding: 0.7rem;
  }
  .stats img{
    width: 200px;
  }
  
  .estadistic-container{
    height: 200px;
  }

  h3{
    font-size: 0.7rem;
  }
 
  .quienes-texto{
    flex-wrap: wrap;
  
  }
  .quienes-texto img{
    width: 300px;
  }

  .quienes-texto div{
    width: 400px;
    padding: 0.5rem;
  }

  .quienes-texto p{
    font-size: 0.6rem;
    line-height: 0.7rem;
    padding: 0.7rem; 
    
  }

  h2{
    font-size: 0.7rem;
    padding: 0.7rem;
  }
  
}

@media all and (max-width: 450px){

  .quienes-texto div{
    width: 300px;
    padding: 0.5rem;
  }
  .quienes-texto img{
    width: 280px;
  }
  .stats img{
    width: 120px;
  }
}